<script id="clusterView.ejs" type="text/template">

  <div id="cluster-content" class="innerContent">

    <div class="pure-g">
      <div class="pure-u-2-5 header"><p>Nodes</p></div>
      <div class="pure-u-1-5">
        <i class="fa fa-refresh"></i>
      </div>
      <div class="pure-u-1-5">
      <select class="blue-select">
        <optgroup class="cluster-select" label="Clusters">
        </optgroup>
      </select>
      </div>
      <div class="pure-u-1-5"><p>Legend</p>
    </div>

      <div class="pure-u-4-5 cluster-left epoch-theme-dark"></div>

      <div class="pure-u-1-5 cluster-right">

        <div class="pure-u-1-1">
          <div class="legend-cpu legend-circle"></div>
          <p>CPU</p>
          <p class="cpu-label"></p>
        </div>

        <div class="pure-u-1-1">
          <div class="legend-ram legend-circle"></div>
          <p>RAM</p>
          <p class="ram-label"></p>
        </div>

        <div class="pure-u-1-1">
          <div class="legend-disk legend-circle"></div>
          <p>Disk</cpup>
          <p class="disk-label"></p>
        </div>

        <div class="pure-u-1-1">
          <p class="name-label"></p>
        </div>

      </div>
    </div>

  </div>

  </script>
