<script id="dashboardView.ejs" type="text/template">

  <div id="dashboard-content" class="innerContent">

  <div class="pure-g t-head t-cluster">
    <div class="pure-u-1-3"><p class="t-label">Name</p></div>
    <div class="pure-u-1-3"><p class="t-label">Mode</p></div>
    <div class="pure-u-1-3"><p class="t-label">Health</p></div>
  </div>

  <div class="pure-g t-body t-cluster-body">
    <div class="pure-u-1-5"><p class="t-label"></p></div>
    <div class="pure-u-1-5"><p class="t-label"></p></div>
    <div class="pure-u-1-5"><p class="t-label align-left"></p></div>
  </div>

  </div>

</script>
