<script id="debugView2.ejs" type="text/template">

  <div id="debug-content" class="innerContent">

  <div class="pure-g tab-bar">
    <div class="pure-u-1-4 tab-div header debug-offers"><p>Offers</p></div>
    <div class="pure-u-1-4 tab-div header active debug-instances"><p>Instances</p></div>
    <div class="pure-u-1-4 header">
      <i class="fa fa-refresh"></i>
    </div>
    <div class="pure-u-1-4 header select-box tab-select">
      <select class="blue-select">
        <optgroup class="cluster-select" label="Clusters">
        </optgroup>
      </select>
    </div>
  </div>

  <div class="pure-g t-head t-cluster">
    <div class="pure-u-2-24"><p class="t-label">Aspect<i data-sortkey="aspect" class="sorting fa fa-sort"></i></p></div>
    <div class="pure-u-6-24"><p class="t-label">Slave ID<i data-sortkey="slaveId" class="sorting fa fa-sort"></i></p></div>
    <div class="pure-u-2-24"><p class="t-label">Hostname<i data-sortkey="hostname" class="sorting fa fa-sort"></i></p></div>
    <div class="pure-u-2-24"><p class="t-label">Status<i data-sortkey="status" class="sorting fa fa-sort"></i></p></div>
    <div class="pure-u-2-24"><p class="t-label">CPUs</p></div>
    <div class="pure-u-2-24"><p class="t-label">Memory</p></div>
    <div class="pure-u-2-24"><p class="t-label">Disk</p></div>
    <div class="pure-u-3-24"><p class="t-label">Started</p></div>
    <div class="pure-u-3-24"><p class="t-label">Last update</p></div>
  </div>

  <div class="pure-g t-body t-cluster-body">
    <div class="pure-u-2-24"><p class="t-label"></p></div>
    <div class="pure-u-6-24"><p class="t-label"></p></div>
    <div class="pure-u-2-24"><p class="t-label"></p></div>
    <div class="pure-u-2-24"><p class="t-label"></p></div>
    <div class="pure-u-2-24"><p class="t-label">No data available.</p></div>
    <div class="pure-u-2-24"><p class="t-label"></p></div>
    <div class="pure-u-2-24"><p class="t-label"></p></div>
    <div class="pure-u-3-24"><p class="t-label"></p></div>
    <div class="pure-u-3-24"><p class="t-label"></p></div>
  </div>

  </div>

</script>
