<script id="navigationView.ejs" type="text/template">
  <ul class="navlist arango-collection-ul" id="arangoCollectionUl">
    <li class="dashboard-menu"><a id="dashboard" class="tab" href="#dashboard">Dashboard</a></li>
    <!-- <li class="overview-menu"><a id="overview" class="tab" href="#overview">Overview</a></li> -->
    <li class="debug-menu"><a id="debug" class="tab" href="#debug">Debug</a></li>
  </ul>
</script>
